body{font-family:'Roboto Slab', serif;}
.glc-navbar{background-color:#37b494;}
.glc-navbar a{color:#000;}
.container{display:block;margin:0px auto;}
.well{text-align:center;}
.iviewSlider{overflow:hidden;display:block;height:440px;width:900px;border-radius:4px;}
.iview-block{display:block;position:absolute;z-index:5;}
#iview2{display:block;max-width:960px;min-width:320px;background:#000;background:rgba(0, 0, 0, 0.7);padding:15px;border-radius:5px;position:relative;-webkit-box-shadow:0 38px 30px -18px rgba(0, 0, 0, 0.5);-moz-box-shadow:0 38px 30px -18px rgba(0, 0, 0, 0.5);box-shadow:0 38px 30px -18px rgba(0, 0, 0, 0.5);margin:40px auto;overflow:hidden;}
.iview-directionNav{position:absolute;top:0%;left:0px;height:100%;z-index:9;width:100%;}
.iview-directionNav a{display:block;cursor:pointer;position:absolute;width:40px;height:100px;background-image:url(../img/nav_paddles.png);text-indent:-9999px;z-index:9;margin-top:15%;}
.iview-directionNav a:active{background-image:url(../img/nav_paddles_down.png);}
.iview-prevNav{left:20px;background-position:-16px 0px;}
.iview-nextNav{right:20px;background-position:56px 0px;}
.iview-controlNav{position:absolute;bottom:1%;right:5%;z-index:9;}
.iview-controlNav a{text-indent:-9999px;}
.iview-controlNav a.active{font-weight:bold;}
.iview-controlNav .iview-items ul{list-style:none;}
.iview-controlNav .iview-items ul li{display:inline;position:relative;}
.iview-controlNav a.iview-control{padding:0px;float:left;width:11px;height:11px;background:url('../img/bullets_2.png') no-repeat 0px 0px;line-height:0px;margin-right:7px;}
.iview-controlNav .iview-control.active{background-position:0px -11px;}
.iview-caption{position:absolute;z-index:4;cursor:default;background:#303030;color:#FEFEFE;width:100%;font-family:Verdana;font-size:11px;top:360px;text-align:center;}
.ppButton{display:block;position:absolute;margin-top:4em;width:35px;margin-left:2em;height:35px;z-index:12;}