/* General */
body{
    font-family: 'Roboto Slab', serif;
}
.glc-navbar{
    background-color: #37b494;
}
.glc-navbar a{
    color: #000;
}

.container {
	display: block;
	width: 910px;
	margin: 0px auto;
}
.well {
	text-align:center;
}

/* The slider */
.iviewSlider {
	overflow: hidden;
	display: block;
	height: 400px;
	overflow: hidden;
	border-radius: 4px;
}

/* The boxes in the Slider */
.iview-block {
	display:block;
	position:absolute;
	z-index:5;
}

#iview2 {
	display: block;
	width: 900px;
	height: 430px;
	background: #000;
	background: rgba(0, 0, 0, 0.7);
	padding: 15px;
	border-radius: 5px;
	position: relative;
	-webkit-box-shadow: 0 38px 30px -18px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 38px 30px -18px rgba(0, 0, 0, 0.5);
	box-shadow: 0 38px 30px -18px rgba(0, 0, 0, 0.5);
	margin: 40px auto;
	overflow: hidden;
}


/* Direction nav styles (e.g. Next & Prev) */
.iview-directionNav {
	position: absolute;
	top: 150px;
	left: 0px;
	z-index: 9;
	width: 100%;
	z-index:9;
}
.iview-directionNav a {
	display: block;
	width: 40px;
	height: 100px;
	background-image: url(../img/nav_paddles.png);
	text-indent: -9999px;
	position:absolute;
	top:45%;
	cursor:pointer;
}
.iview-directionNav a:active {
	background-image: url(../img/nav_paddles_down.png);
}
.iview-prevNav {
	left: 20px;
	background-position: -16px 0px;
}
.iview-nextNav {
	right: 20px;
	background-position: 56px 0px;
}

/* Control nav styles (e.g. 1,2,3...) */
.iview-controlNav {
	position:absolute;
	bottom: 1em;
	right: 5%;
	z-index:9;
}
.iview-controlNav a {
	text-indent: -9999px;
}
.iview-controlNav a.active {
	font-weight:bold;
}
.iview-controlNav .iview-items ul {
	list-style: none;
}
.iview-controlNav .iview-items ul li {
	display: inline;
	position: relative;
}
.iview-controlNav a.iview-control {
	padding: 0px;
	float: left;
	width: 11px;
	height: 11px;
	background: url('../img/bullets_2.png') no-repeat 0px 0px;
	line-height: 0px;
	margin-right: 7px;
}
.iview-controlNav .iview-control.active {
	background-position: 0px -11px;
}

/* The captions in the Slider */
.iview-caption {
	position:absolute;
	z-index:4;
	cursor: default;
	background: #303030;
	color: #FEFEFE;
	width: 100%;
	font-family: Verdana;
	font-size: 11px;
	top: 360px;
	text-align: center;
}

/*.iview-caption.video-caption {
	padding: 10px;
}*/



/* The video show in the Slider */
/*.iview-video-show {
	background: #000;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 101;
}
.iview-video-show .iview-video-container {
	position: relative;
	width: 100%;
	height: 100%;
}
.iview-video-show .iview-video-container a.iview-video-close {
	position: absolute;
	right: 10px;
	top: 10px;
	background: #222;
	color: #FFF;
	height: 20px;
	width: 20px;
	text-align: center;
	line-height: 29px;
	font-size: 22px;
	font-weight: bold;
	overflow: hidden;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}
.iview-video-show .iview-video-container a.iview-video-close:hover {
	background: #444;
}*/

/* The timer in the Slider */
/*#iview-timer {
	position: absolute;
	z-index: 100;
	border-radius: 5px;
	cursor: pointer;
}

#iview-timer div {
	border-radius: 3px;
}*/
  
 /* CSS appliqué aux petits écrans */
@media (max-width: 1024px) {
#iview2 {
	width: 330px;
	height: 200px;
	border-radius: 5px;
	margin: 10px auto;
}
/*.container {
	width: 320px;
	padding-right: 0px;
	padding-left: 0px;
	margin : initial;
}*/
.iviewSlider {
	height: 142px;
	border-radius: 4px;
}
.iview-caption {
	top: 128px;
}
.iview-directionNav {
	top: 40px;
}
}